{% extends "app/base.html" %}

{% load static %}
{% load macros %}

{% block content %}
        <div id="content">
            <h1 class="text-dark text-center mb-4">Licensing</h1>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card shadow mb-5">
                        <div class="card-header bg-secondary bg-gradient-light text-light">
                            <h5 class="card-header">Material Design Boostrap (MDB5UIKit)</h5>
                        </div>
                        <div class="card-body">
                            The Support_Dashboard license is not applicable to the folder static%2FMDB5UIKIT.<br>
                            You are not allowed to use that folder in your own project without having acknowledge the
                            license from <a href="https://mdbootstrap.com" target="_blank">here</a> or read
                            <a href="{% static "/MDB5UIKIT/License.pdf" %}" target="_blank">here</a>.
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header bg-secondary bg-gradient-light text-light">
                            <h5 class="card-header">Support_Dashboard</h5>
                        </div>
                        <div class="card-body">
                                {{ license_html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
{% endblock %}