{% extends "app/base.html" %}

{% load static %}
{% load macros %}
{% loadmacros "users/_macros/_Team-Member-Profile-Card.html" %}

{% block content %}
    <h1 class="text-center mb-4">Our Team</h1>
    <div class="container-fluid">
        <div class="row">
            {% for user in users %}
                <div class="col-4">
                    {% use_macro TeamMember_Profile_Card user %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'app/pagination.html' with queryset=users custom_range=custom_range %}
{% endblock %}