<div class="input-group mb-3">
    <input type="{{ widget.type }}" name="{{ widget.name }}" id="{{ widget.name }}" class="form-control" aria-describedby="basic-addon1" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
    <a href="" class="btn btn-primary" role="button"><i class="fa fa-eye-slash"></i></a>
</div>

