{% load macros %}

{% macro profile-change-password-form aUserpasswordForm %}
        <form class="form user" method="POST" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="passwordsbmt">
            <div class="card shadow mb-3">
                <div class="card-header bg-secondary bg-gradient-light text-light">
                    <h5 class="card-header">Change Password</h5>
                </div>
                <div class="card-body pb-0">
                        {{ aUserpasswordForm.as_p }}
                </div>
                <hr class="ms-4 me-4"/>
                <div class="card-body text-center pt-0">
                    <button class="btn btn-primary btn-sm" type="submit">Save Changes</button>
                </div>
            </div>
        </form>
{% endmacro %}